.signature-container{

    width:100%;
    height:220px;
    border:2px solid #ccc;
    border-radius:10px;
    background:white;
    overflow:hidden;

}


.signature-canvas{

    width:100%;
    height:100%;

}


.btn-clear-signature{

    margin-top:10px;
    padding:8px 15px;

    border:none;
    border-radius:6px;

    cursor:pointer;

    background:#e63289;
    color:white;

}